.navbar
	.navbar__wrap
		.hamburger
			.hamburger-inner
				span
				span
				span
		.navbar_text
			.navbar_text-inner(data-close="close", data-open="menu")
				span menu
	.developers
		a(href="www.flxmd.by", target="_blank", rel="nofollow") by 
			span #flxmd
	.navbar__content
		.navbar__content-slice
			