.pagination
	.pagination-inner
		.pagination-item.pagination-item__left
			a(href="#" class="ajax-trigger")
				span
		.pagination-counter
			.pagination-counter__inner
				.pagination-current 01
				.pagination-spacer /
				.pagination-all 04
		.pagination-item.pagination-item__right
			a(href="#" class="ajax-trigger")
				span