
<div class="portfolio-container">
  <div class="content-left content-side">
    <div class="projects-gallery">
      <div class="projects"><a class="projects-item ajax-trigger" href="#">
          <div class="project-info-contaner" data-animation="fadeInRight" data-delay="0.5s">
            <div class="cover">
              <div class="project-info__inner">
                <div class="projects-image"><img src="img/main/1_2.jpg"/></div>
                <div class="projects-info">
                  <div class="projects-name"><span>Café de Paris 1<i></i></span></div>
                  <div class="projects-hash"><span class="hash-item">#Architecture</span><span class="hash-item">#Interior</span><span class="hash-item">#Decoration</span>
                  </div>
                </div>
              </div>
            </div>
          </div></a><a class="projects-item ajax-trigger" href="#">
          <div class="project-info-contaner" data-animation="fadeInRight" data-delay="0.6s">
            <div class="cover">
              <div class="project-info__inner">
                <div class="projects-image"><img src="img/main/6_2.jpg"/></div>
                <div class="projects-info">
                  <div class="projects-name"><span>Café de Paris 2<i></i></span></div>
                  <div class="projects-hash"><span class="hash-item">#Architecture</span><span class="hash-item">#Interior</span><span class="hash-item">#Decoration</span>
                  </div>
                </div>
              </div>
            </div>
          </div></a></div>
    </div>
  </div>
  <div class="content-right content-side">
    <div class="projects-gallery">
      <div class="projects"><a class="projects-item ajax-trigger" href="#">
          <div class="project-info-contaner" data-animation="fadeInRight" data-delay="0.5s">
            <div class="cover">
              <div class="project-info__inner">
                <div class="projects-image"><img src="img/main/10_2.jpg"/></div>
                <div class="projects-info">
                  <div class="projects-name"><span>Café de Paris 3<i></i></span></div>
                  <div class="projects-hash"><span class="hash-item">#Architecture</span><span class="hash-item">#Interior</span><span class="hash-item">#Decoration</span>
                  </div>
                </div>
              </div>
            </div>
          </div></a><a class="projects-item ajax-trigger" href="#">
          <div class="project-info-contaner" data-animation="fadeInRight" data-delay="0.6s">
            <div class="cover">
              <div class="project-info__inner">
                <div class="projects-image"><img src="img/main/15_2.jpg"/></div>
                <div class="projects-info">
                  <div class="projects-name"><span>Café de Paris 4<i></i></span></div>
                  <div class="projects-hash"><span class="hash-item">#Architecture</span><span class="hash-item">#Interior</span><span class="hash-item">#Decoration</span>
                  </div>
                </div>
              </div>
            </div>
          </div></a></div>
    </div>
  </div>
</div>
<div class="portfolio-container">
  <div class="content-left content-side">
    <div class="projects-gallery">
      <div class="projects"><a class="projects-item ajax-trigger" href="#">
          <div class="project-info-contaner" data-animation="fadeInRight" data-delay="0.5s">
            <div class="cover">
              <div class="project-info__inner">
                <div class="projects-image"><img src="img/main/19_2.jpg"/></div>
                <div class="projects-info">
                  <div class="projects-name"><span>Café de Paris 5<i></i></span></div>
                  <div class="projects-hash"><span class="hash-item">#Architecture</span><span class="hash-item">#Interior</span><span class="hash-item">#Decoration</span>
                  </div>
                </div>
              </div>
            </div>
          </div></a><a class="projects-item ajax-trigger" href="#">
          <div class="project-info-contaner" data-animation="fadeInRight" data-delay="0.6s">
            <div class="cover">
              <div class="project-info__inner">
                <div class="projects-image"><img src="img/main/23_2.jpg"/></div>
                <div class="projects-info">
                  <div class="projects-name"><span>Café de Paris 6<i></i></span></div>
                  <div class="projects-hash"><span class="hash-item">#Architecture</span><span class="hash-item">#Interior</span><span class="hash-item">#Decoration</span>
                  </div>
                </div>
              </div>
            </div>
          </div></a></div>
    </div>
  </div>
  <div class="content-right content-side">
    <div class="projects-gallery">
      <div class="projects"><a class="projects-item ajax-trigger" href="#">
          <div class="project-info-contaner" data-animation="fadeInRight" data-delay="0.5s">
            <div class="cover">
              <div class="project-info__inner">
                <div class="projects-image"><img src="img/main/28_2.jpg"/></div>
                <div class="projects-info">
                  <div class="projects-name"><span>Café de Paris 7<i></i></span></div>
                  <div class="projects-hash"><span class="hash-item">#Architecture</span><span class="hash-item">#Interior</span><span class="hash-item">#Decoration</span>
                  </div>
                </div>
              </div>
            </div>
          </div></a><a class="projects-item ajax-trigger" href="#">
          <div class="project-info-contaner" data-animation="fadeInRight" data-delay="0.6s">
            <div class="cover">
              <div class="project-info__inner">
                <div class="projects-image"><img src="img/main/30_2.jpg"/></div>
                <div class="projects-info">
                  <div class="projects-name"><span>Café de Paris 8<i></i></span></div>
                  <div class="projects-hash"><span class="hash-item">#Architecture</span><span class="hash-item">#Interior</span><span class="hash-item">#Decoration</span>
                  </div>
                </div>
              </div>
            </div>
          </div></a></div>
    </div>
  </div>
</div>