<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Title of template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" media="all" href="css/screen.css">
    <script src="js/app.js"></script>
  </head>
  <body>
    <!--BEGIN out-->
    <div class="out">
      <header class="header"><a class="lang" href="">RU</a><a class="logo" href="/"></a>
        <ul class="breadcrumbs">
          <li><a class="home breadcrumbs-item" href="#">
              <div><svg viewBox="0 0 20 22.1" xmlns="http://www.w3.org/2000/svg"><path d="m10.04767,0.04746l-9.996,9l0,13l7.996,0l0,-6l4.004,0l0,6l8,0l0,-13l-10.004,-9zm8.008,20l-4.008,0l0,-6l-7.996,0l0,6l-4.004,0l0,-10.172l8,-7l8.008,7l0,10.172z"/></svg></div></a></li>
          <li><a class="breadcrumbs-item" href="#"><span>Recent projects</span></a></li>
        </ul>
        <div class="gallery-pagination"><a class="pagination-item pagination-item_left" href="#">
            <div></div></a><a class="pagination-item pagination-item_right" href="#">
            <div></div></a></div>
      </header>
      <div class="navbar">
        <div class="navbar__wrap">
          <div class="hamburger">
            <div class="hamburger-inner"><span></span><span></span><span></span></div>
          </div>
          <div class="navbar_text">
            <div class="navbar_text-inner" data-close="close" data-open="menu"><span>menu</span></div>
          </div>
        </div>
        <div class="developers"><a href="www.flxmd.by" target="_blank" rel="nofollow">by <span>#flxmd</span></a></div>
        <div class="navbar__content">
          <div class="navbar__content-slice"></div>
        </div>
      </div>
      <div class="wrapper">
        <div class="content content-mainpage">
          <div class="content-left content-side">
            <div class="intro">
              <div class="intro-text">Architecture. Interior. Design.</div>
            </div>
          </div>
          <div class="content-right content-side">
            <div class="pagination">
              <div class="pagination-inner">
                <div class="pagination-item pagination-item__left"><a class="ajax-trigger" href="#"><span></span></a></div>
                <div class="pagination-counter">
                  <div class="pagination-counter__inner">
                    <div class="pagination-current">01</div>
                    <div class="pagination-spacer">/</div>
                    <div class="pagination-all">04</div>
                  </div>
                </div>
                <div class="pagination-item pagination-item__right"><a class="ajax-trigger" href="#"><span></span></a></div>
              </div>
            </div>
            <div class="projects"><a class="projects-item ajax-trigger" href="#">
                <div class="projects-image"><img src="img/image-1.jpg"></div>
                <div class="projects-info">
                  <div class="projects-name"><span>Café de Paris<i></i></span></div>
                  <div class="projects-hash"><span class="hash-item">#Architecture</span><span class="hash-item">#Interior</span><span class="hash-item">#Decoration</span>
                  </div>
                </div></a><a class="projects-item ajax-trigger" href="#">
                <div class="projects-image"><img src="img/image-1.jpg"></div>
                <div class="projects-info">
                  <div class="projects-name"><span>Café de Paris<i></i></span></div>
                  <div class="projects-hash"><span class="hash-item">#Architecture</span><span class="hash-item">#Interior</span><span class="hash-item">#Decoration</span>
                  </div>
                </div></a></div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="copyright">
          <div class="copyright-item"><span>©2016</span></div>
          <div class="copyright-item"><span>Kuibysheva 33|16 kiseleva</span></div>
          <div class="copyright-item"><a href="#">contact us</a></div>
        </div>
      </footer>
    </div>
    <!--END out-->
  </body>
</html>