extends _layout

block title
	title Title of template

block content
	include includes/_header
	include includes/_menu
	.wrapper
		.content.content-about(data-page="about")
			ul.breadcrumbs
				li
					a.home.breadcrumbs-item(href="#")
						div
							<svg viewBox="0 0 20 22.1" xmlns="http://www.w3.org/2000/svg"><path d="m10.04767,0.04746l-9.996,9l0,13l7.996,0l0,-6l4.004,0l0,6l8,0l0,-13l-10.004,-9zm8.008,20l-4.008,0l0,-6l-7.996,0l0,6l-4.004,0l0,-10.172l8,-7l8.008,7l0,10.172z"/></svg>
				li
					.breadcrumbs-item
						span About
			.gallery-pagination
				a(href="#" class="pagination-item pagination-item_left")
					div
						<svg viewBox="0 0 33 23" xmlns="http://www.w3.org/2000/svg"><g><rect height="9" width="14" stroke-miterlimit="10" fill="none" y="12.99216" x="0.51307"/><rect height="9" width="14" stroke-miterlimit="10" fill="none" y="12.99216" x="18.31307"/></g><g><rect class="hover" height="9" width="14" stroke-miterlimit="10" y="12.99216" x="0.51307"/><rect class="hover" height="9" width="14" stroke-miterlimit="10" y="12.99216" x="18.31307"/></g><g><rect height="9" width="14" stroke-miterlimit="10" fill="none" y="0.39216" x="0.51307"/><rect height="9" width="14" stroke-miterlimit="10" fill="none" y="0.39216" x="18.31307"/></g><g><rect class="hover" height="9" width="14" stroke-miterlimit="10" y="0.39216" x="0.51307"/><rect class="hover" height="9" width="14" stroke-miterlimit="10" y="0.39216" x="18.31307"/></g></svg>
				a(href="#" class="pagination-item pagination-item_right")
					div
						<svg viewBox="0 0 34 22" xmlns="http://www.w3.org/2000/svg"><g id="double"><path d="m0.53333,0.45915l14.5,0l0,21l-14.5,0l0,-21z" stroke-miterlimit="10" fill="none"/><path d="m19.03333,0.45915l14.5,0l0,21l-14.5,0l0,-21z" stroke-miterlimit="10" fill="none"/></g><g id="main"><path class="hover" d="m0.53333,0.45915l14.5,0l0,21l-14.5,0l0,-21z" stroke-miterlimit="10"/><path class="hover" d="m19.03333,0.45915l14.5,0l0,21l-14.5,0l0,-21z" stroke-miterlimit="10"/></g></svg>
			.section-list
				.section-list__inner
					section(class="section-item main" data-item="1" id="main" data-section="main")
						.section__wrapper
							.section__container
								.section__image
									.img(style="background-image: url(img/main.jpg)")
								.section__head
									.head__title
										| Architectural bureau is the&nbsp;elegance in every detail
									.anchors__sections
										mixin anchors(anchor, name)
											a(class="anchors__item" data-anchor="#"+anchor)
												span #{name}
										+anchors("bureau", "Bureau")
										+anchors("leadership", "Leadership")
										+anchors("clients", "Clients")
									.virtual__tour
										a.btn.btn-black(href="#" target="_blank" rel="noffolow")
											span Virtual tour +
					section(class="section-item bureau" data-item="2" id="bureau" data-section="bureau")
						.section__wrapper
							.section__container
								.content-left.content-side
									.container__images
										ul.images__action
											- var img_link = ['img/action-1.jpg', 'img/action-2.jpg', 'img/action-3.jpg', 'img/action-4.jpg']										
											each item in img_link
												li(class="img__item")
													.img(style="background-image: url("+ item + ")")
								.content-right.content-side
									.container__text
										.text-container
											.title About Bureau
											.descr
												p Architectural bureau 33|16 was founded in 2009 by architects Oleg Kapustin and Evgenii Daineko. The Bureau operates on the international market in the field of architecture, interior design, landscape design and project management of projects. To date, the company employs 25 staff, geography projects involves Belarus, Russia and Europe.
					section(class="section-item leadership" data-item="3" id="leadership" data-section="leadership")
						.section__wrapper
							.section__container
								.container-people
									.people-wrapper
										.people-item
											.content-left.content-side
												.people-image__wrapper
													.cover
														.people-bg(style="background-image: url(img/ceo-1.jpg)")
											.content-right.content-side
												.people-text__wrapper
													.container__text
														.text-container
															.title Oleg Kapustin
															.subtitle Founder and Director  
															.descr
																p A talented architect, a great leader and a wonderful person with a capital letter. He graduated from the Minsk Art School named after Glebov. Since 2009 Chief Founders architectural bureau 33 | 16.
										.people-item
											.content-left.content-side
												.people-image__wrapper
													.cover
														.people-bg(style="background-image: url(img/ceo-2.jpg)")
											.content-right.content-side
												.people-text__wrapper
													.container__text
														.text-container
															.title Victor Kuleshov
															.subtitle Ceo
															.descr
																p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
									.people-pagination
										- for (var i = 0; i < 2; i++)
											.pagin__item
												span
					section(class="section-item clients" data-item="4" id="clients" data-section="clients")
						.section__wrapper
							.section__container
								.container__full
									.line
									.container__full-inner
										.content-left.content-side
											.container__text
												.text-container
													.title Our clients
													.subtitle OUR WORK introduces us to the amazing people.  
													.descr
														p Our clients are bold and successful people, businessmen and stars of show business, stores and restaurants. All of our clients have in common - they are bold and modern, they like to stay ahead of trends and work with the best .
										.content-right.content-side
											.clients
												.clients-list
													mixin Clients(name)
														a(class="clients__item ajax-trigger" href="#")
															span #{name}
													+Clients("#Cafe Balkon")
													+Clients("#Karim Rashid")
													+Clients("#Café de Paris")
													+Clients("#Cafe Milano")
													+Clients("#Rialto")
													+Clients("#Tapas bar")
													+Clients("#JELSOMINO")
													+Clients("#Bogema")
													+Clients("#Grand Cafe")
													+Clients("#Café de Paris")
													+Clients("#Galileo Mall")
													+Clients("#Wargaming")
													+Clients("#Café de Paris")
			include includes/_pagination
		script(type="text/javascript").
				var el = $(".section-list");
				var list = new slides(el);
				$(triggerImage)
	include includes/_modal