extends _layout

block title
	title Title of template

block content
	include includes/_header
	include includes/_menu
	.wrapper
		.content.content-portfolio-inner
			a.logo(href="/")
			ul.breadcrumbs
				li
					a.home.breadcrumbs-item(href="#")
						div
							<svg viewBox="0 0 20 22.1" xmlns="http://www.w3.org/2000/svg"><path d="m10.04767,0.04746l-9.996,9l0,13l7.996,0l0,-6l4.004,0l0,6l8,0l0,-13l-10.004,-9zm8.008,20l-4.008,0l0,-6l-7.996,0l0,6l-4.004,0l0,-10.172l8,-7l8.008,7l0,10.172z"/></svg>
				li
					a.breadcrumbs-item(href="#")
						span Portfolio
				li
					a.breadcrumbs-item(href="#")
						span Cafe de Paris
			.gallery-pagination
				a(href="#" class="pagination-item pagination-item_left")
					div
						<svg viewBox="0 0 31 21" xmlns="http://www.w3.org/2000/svg"><path id="svg_1" d="m0.5,0.5l13.4875,0l0,8.43764l-13.4875,0l0,-8.43764z" stroke-miterlimit="10" fill="none" clip-rule="evenodd" fill-rule="evenodd"/>  <path id="svg_3" d="m17.05921,0.5l13.44079,0l0,8.43626l-13.44079,0l0,-8.43626z" stroke-miterlimit="10" fill="none" clip-rule="evenodd" fill-rule="evenodd"/><path id="svg_4" d="m17.05467,12.06511l13.44533,0l0,8.43489l-13.44533,0l0,-8.43489z" stroke-miterlimit="10" fill="none" clip-rule="evenodd" fill-rule="evenodd"/><path id="svg_5" d="m0.5,12.0125l13.4875,0l0,8.4875l-13.4875,0l0,-8.4875z" stroke-miterlimit="10" fill="none" clip-rule="evenodd" fill-rule="evenodd"/></svg>
				a(href="#" class="pagination-item pagination-item_right active")
					div
						<svg viewBox="0 0 31 21" xmlns="http://www.w3.org/2000/svg"><path id="svg_1" d="m0.5,0.5l13.39759,0l0,20l-13.39759,0l0,-20z" stroke-miterlimit="10" fill="none" clip-rule="evenodd" fill-rule="evenodd"/><path id="svg_2" d="m17.16265,0.5l13.33735,0l0,20l-13.33735,0l0,-20z" stroke-miterlimit="10" fill="none" clip-rule="evenodd" fill-rule="evenodd"/></svg>
			.content-left.content-side
				.projects
					.projects-inner
						.projects-title Café de Paris
						.projects-subtitle Interior design for a part of&nbsp;France in Minsk 
						.projects-descr
							p It's not boring solemnity, not pompous luxury, not flashy kitsch. This is a very subtle and elegant chic with the created image.
					.projects-hash
						- var arrHash = ["#Architecture", "#Interior", "#Decoration"]
						each hash in arrHash
							a(class="hash-item" href="#") #{hash}
			.content-right.content-side
				.projects-gallery
					.scroller-gallery
						.scroller-container#scroll-container
							ul.grid#l-gallery
								mixin gridItem(link)
									li(data-src=link)
										a
											.image__cover
												img(src=link)
								+gridItem("img/grid/grid-1.jpg")
								+gridItem("img/grid/grid-2.jpg")
								+gridItem("img/grid/grid-3.jpg")
								+gridItem("img/grid/grid-4.jpg")
								+gridItem("img/grid/grid-5.jpg")
								+gridItem("img/grid/grid-6.jpg")
								+gridItem("img/grid/grid-7.jpg")
								+gridItem("img/grid/grid-8.jpg")
								+gridItem("img/grid/grid-9.jpg")
								+gridItem("img/grid/grid-10.jpg")
								+gridItem("img/grid/grid-11.jpg")
								+gridItem("img/grid/grid-12.jpg")
								+gridItem("img/grid/grid-13.jpg")
								+gridItem("img/grid/grid-14.jpg")
								+gridItem("img/grid/grid-1.jpg")
								+gridItem("img/grid/grid-2.jpg")
								+gridItem("img/grid/grid-3.jpg")
								+gridItem("img/grid/grid-4.jpg")
								+gridItem("img/grid/grid-5.jpg")
								+gridItem("img/grid/grid-6.jpg")
								+gridItem("img/grid/grid-7.jpg")
								+gridItem("img/grid/grid-8.jpg")
								+gridItem("img/grid/grid-9.jpg")
								+gridItem("img/grid/grid-10.jpg")
								+gridItem("img/grid/grid-11.jpg")
								+gridItem("img/grid/grid-12.jpg")
								+gridItem("img/grid/grid-13.jpg")
								+gridItem("img/grid/grid-14.jpg")

					script(type='text/javascript').
						$(window).on("load resize", function(){
							$(heightScrollContainer)
						});
						$(scrollbar)
						$(iso)
						$(lightG)
			a(class="back ajax-trigger" href="#1")
				div
					<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m8.46203,12.45218l3.03554,3.03553l-0.70711,0.70711l-4.24264,-4.24264l4.24264,-4.24264l0.70711,0.70711l-3.0371,3.03709l9.08263,0l0,0.99844l-9.08107,0zm15.08343,-0.49764c0,-6.35127 -5.14873,-11.5 -11.5,-11.5c-6.35127,0 -11.5,5.14873 -11.5,11.5c0,6.35127 5.14873,11.5 11.5,11.5c6.35127,0 11.5,-5.14873 11.5,-11.5z"/></svg>
		include includes/_pagination
	include includes/_modal-hash
	include includes/_modal