.updateCover
	.updateCover-container
		span You are using outdated version of browser. Please updete your browser:
		a(class="btn btn-black" href="http://outdatedbrowser.com/en" target="_blank" rel="nofollow")
			span update browser